[buildout]
parts =
    viewdoc
    test
develop = .

[viewdoc]
recipe = zc.recipe.egg
eggs = jarn.viewdoc
scripts = viewdoc

[test]
recipe = zc.recipe.egg
eggs =
    jarn.viewdoc
    nose2
    nose2-kflag
scripts =
    nose2=test
